<footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Supply Chain System Management <a href="http://ramalaso.com/">Ramalaso</a>, by <a href="https://twitter.com/mdo">@ramalaso</a>.</p>
    </div>
  </footer>